#bg-password {
  position: fixed;
  inset: 0; 
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#container-password {
    background-color: white;
    justify-content: "center";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 16em;
    padding: 20px;
    border-radius: 20px;
    animation: fadeInScale 0.2s ease-out;
    color: black;
}


#text-password {
    outline: none;
    width: 13em;
    height: 40px;
    margin-top: 1.2em;
    margin-bottom: 0.5em;
    background: #ffffff;
    color: black;
    border: solid #ffcf87;
    border-width: 0px 0px 2px 0px;
    text-align: center;
    font-size: 30px;
}

#close-btn {
  background-color: #ffb13c;  
  color: black;
  border: none;
  border-radius: 4px;
  position: absolute;
  left: 33em;
}

#enter-btn {
    width: 30em;
    height: 50px;
    border-radius: 10px;
    border: solid #ffb13c;
    background-color: #ffcf87;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

#enter-btn:hover {
    background-color: #ffb13c;
    border: solid #ffdead;
    color: #ffdead;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}